@font-face {
  /* nombre que tendrá */
  font-family: 'Poppins';
  /* origen */
  src: url('./Montserrat-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  /* border:2px solid red; */
}

.contenedor {
  width: 1512px;
  /* auto, navegador encargate, usa todo el espacio disponible, si lo aplicamos a los costados centrará el elemento horizontalmente */
  margin: 0 auto;
}

header {
  padding: 96px;
  /* text-align: center; */
}

small {
  display: block;
  font-family: 'Poppins', Arial;
}

/* , esa coma es como un Y */
h1, p, small {
  text-align: center;
  /* !important me permite romper la especificidad para priorizar una propiedad a favor de otra, pero no es recomendable utilizarlo */
  margin-bottom: 20px !important;
}

h1 {
  width: 1024px;
  margin:0 auto;
  font-family: "Fraunces", serif;
  font-weight: 300;
  font-size: 72px;
}

p {
  font-family: 'Poppins', Arial;
}

.btn-header {
  max-width:240px;
  /* arriba derecha abajo izquierda */
  margin:60px auto 60px auto;
  /* si dos elementos tienen margenes superiores e inferiores cada uno, estos no se suman, SE solapan */
}

img {
  width:1280px;
  margin:0 auto;
  display: block;
}

p {
  color: gray;
  width: 720px;
  margin: 0 auto;
}

button {
  border-radius: 200px;
  height: 60px;
  padding:16px 28px;
  border:1px solid black;
}

.btn-light {
  background-color: white;
}

.btn-dark {
  background-color: black;
  color: white;
}