*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    height:700px;
    border:3px solid gray;
}

.caja1,.caja2,.caja3,.caja4,.caja5{
    width: 120px;
    height: 120px;
    border:2px solid red;
}

.caja1 {
    background-color: blue;
}

.caja2 {
    background-color: red;
    /* es que sale de la jerarquia, para los demás elementos nos existe ese div */
    position:absolute;
    top:60px;
    left:80px;
}

.caja3 {
    background-color: green;
    /* width:300px; */
}

.caja4 {
    background-color:aqua;
}

.caja5 {
    background-color: yellow;
}