* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

.photos {
  display: grid;
  /* grid, implícito */
  grid-auto-columns: repeat(3, 300px);
  grid-auto-rows: repeat(3, 300px);
}

.photo-box {
  width:300px;
  height:300px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* height:300px; */
}

/* de la clase photo-box quiero al elemento n9, dentro estoy buscando al elemento con la clase .photo */
.photo-box:nth-of-type(9) .photo {
  /* mueve una imagen respecto a su contenedor
  object-position: left, top */
  object-position: -140px 0;
}