* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  /* border:2px solid red; */
}

body {
  background-color: black;
}

.photos {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  /* grid-explicito */
  grid-template-columns: repeat(3, 300px);
  /* grid, implícito */
  grid-auto-columns: repeat(3, 300px);
  grid-auto-rows: repeat(3, 300px);
  /* gap:5px; */
}

.photo-box {
  width:300px;
  height:300px;
  position: relative;
  border:1px solid white;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* height:300px; */
}

/* de la clase photo-box quiero al elemento n9, dentro estoy buscando al elemento con la clase .photo */
.photo-box:nth-of-type(9) .photo {
  /* mueve una imagen respecto a su contenedor
  object-position: left top */
  object-position: -140px 0;
}

/* cuando pongamos el cursor encima de .photo-box, recién aplicará los estilos para .shadow */
.photo-box:hover .shadow {
  cursor:pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position:absolute;
  top:0;
  left:0;
  /* flex para que los elementos hijos aparezcan centrados */
  display: flex;
  justify-content:center;
  gap:10px;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}

.shadow {
  display: none;
}