/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* temporal */
    /* border: 1px solid red; */
}

/* estilos generales, selectores de etiqueta */
h1, h2, h3, h4, h5, h6 {
    /* determinado tipo de fuente */
    font-family: 'Fraunces', serif;
    font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

li {
  /* remueve los estilos por defecto de las viñetas */
  list-style: none;
}

.contenedor {
  margin:0 auto;
  /* un ancho máximo, por debajo del valor el ancho cambiará */
  max-width: 1200px;
}

h1 {
  /* font-size: 4.5rem; */
  font-size: calc(4vw + 1rem);
}
h2 {
  font-size: calc(3vw + 1rem);
}
h3 {
  font-size: calc(2.5vw + 1rem);
}
h4 {
  font-size: calc(1.5vw + 1rem);
}
h5 {
  font-size: calc(1vw + 1rem);
}
h6 {
  font-size: calc(0.5vw + 1rem);
}
p, a {
  font-size: calc(0.25vw + 1rem);
  font-family: 'Montserrat', sans-serif;
}

/* nav */
.navegacion {
  padding:40px;
  display: flex;
  justify-content: space-between;
}

.main-links {
  display: flex;
  align-items: center;
  gap:20px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  border:1px solid black;
  border-radius:36px;
  padding:10px 16px;
}

.btn-light {
  color: black;
}

.btn-dark {
  background-color: #000000;
  color: rgb(255,255,255);
}

.logo {
  font-family: 'Fraunces', serif;
  font-size:2rem;
  font-weight: 800;
}

/* header */
.cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  text-align:center;
  padding: 82px;
}

.buttons-header {
  display: flex;
  gap:10px;
}

/* questions */
.questions {
  display: flex;
  height:504px;
  /* border:4px solid red; */
}

.text-question {
  font-family: 'Fraunces', serif;
  font-size: calc(2vw + 1rem);
  font-weight: 300;
}

.question1 {
  border-top: 4px solid #E26632;
  padding-top: 24px;
  padding-bottom:40px;
}

.question1 > .fa-message {
  color: #E26632;
  margin-bottom: 32px;
}

.question2 {
  border-top: 4px solid #007CC2;
  align-self: flex-end;
  padding-top: 24px;
  padding-bottom:40px;
}

.question2 > .fa-message {
  color: #007CC2;
  margin-bottom: 32px;
}

/* webinar */
.webinar {
  background-color: #FED501;
  padding: 96px;
}

.content-webinar {
  text-align:center;
}

.content-webinar > h3 {
  margin-bottom:20px;
}

.content-webinar > p {
  margin-bottom:40px;
}

/* tabla */
.prices{
  padding:96px 0;
}

.prices > h5 {
  margin-bottom: 30px;
}

.table-price{
  /* width: 100%; */
  /* le damos un ancho artificial con fines educativos porque la idea de una tabla es que si tiene muchos datos, se priorizaria como se muestran los datos */
  width: 800px;
  /* sirve para evitar bordes entre las celdas de la tabla que vienen por defecto */
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

.table-price td {
  padding: 16px;
}

.table-price tr:nth-of-type(odd) td{
  background-color: #FED501;
  /* border-radius: 10px; */
}

.table-price tr td:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-price tr td:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* resources */
.resources {
  margin-bottom: 96px;
}

.resources > h2 {
  margin-bottom: 40px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 40px;
}

.card{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.img-card-top {
  min-height:230px;
  text-align: center;
}

.text-card {
  font-size:1.05rem;
}

.text-card, .card h5 {
  text-align: center;
}

/* estilos añadidos */
.formas-header {
  /* al indicar que algo va a tener un ancho del 100%, hace que como no excede el espacio fijado por su contenedor(elemento padre) */
  width: 100%;
}

@media screen and (width <= 800px) {
  .cabecera {
    padding: 24px;
  }

  .questions {
    flex-direction: column;
    padding:20px;
  }

  .webinar {
    padding: 48px 20px;
  }

  .prices {
    width: 100%;
    padding: 48px 20px;
    overflow: scroll;
  }
}