img {
  width: 150px;
  animation-name: volar;
  animation-duration: 6s;
}

/* @keyframes nombrepropio */
@keyframes volar {
  /* desde */
  from {
    /* propiedades de css */
    transform: translate(0, 0);
  }
  /* porcentaje 0(from) hasta un 100%(to) */
  25% {
    transform: translate(500px, 0);
  }

  30% {
    transform: translate(500px, 0) rotate(-90deg);
  }

  50% {
    transform: translate(500px, 500px) rotate(-90deg);
  }

  55% {
    transform: translate(500px, 500px) rotate(0deg);
  }

  70% {
    transform: translate(0, 500px) rotate(0deg);
  }

  75% {
    transform: translate(0, 500px) rotate(90deg);
  }

  95% {
    transform: translate(0, 0) rotate(90deg);
  }

  /* hacia */
  to {
    transform: translate(0, 0) rotate(0deg);
  }
}