/* selectores */
/* selector de etiqueta, hacen referencia a etiquetas html, p, main, header, nav, li */
main {
    background-color: cornflowerblue;
    font-family: Arial;
}

p {
    font-weight: bold;
    text-decoration: none;
}

/* selectores de clase, 1 o varios elementos */
/* .nombre_de_la_clase */
.noticias {
    font-style: italic;
}

.parrafo {
    color: white;
    font-style: normal;
}

.primicia {
    color: yellow;
    background-color: lightseagreen;
}

.secundario {
    font-size: 12px;
}

/* selectores de id */
/* #nombre_id */
#btn-suscribirse {
    border:2px solid yellow;
    background-color: white;
    font-weight:bold;
}