/* RESET */
/* es un selector universal, aplica para todo */
* {
  /* quitar el margen y padding a todo */
  margin:0;
  padding:0;
  /* e indicar que el tamaño considere el border y el padding más el contenido */
  box-sizing: border-box;
}

header {
  border: 5px solid steelblue;
  padding: 25px;
  margin: 20px;
  width: 300px;
  height: 200px;
}

h2 {
  border:2px solid salmon;
  margin-bottom: 40px;
  /* bottom - abajo,
  top - arriba
  right - derecha
  left - izquierda */
  padding-left:50px;
}

p {
  line-height: 20px;
  border:2px solid green;
  /* arribaabajo costados */
  padding: 40px 75px;
  /* margin: 🕰️  arriba derecha abajo izquierda*/
  margin: 10px 20px 40px 80px;
}