/* RESET */
/* es un selector universal, aplica para todo */
* {
  /* quitar el margen y padding a todo */
  margin:0;
  padding:0;
  /* e indicar que el tamaño considere el border y el padding más el contenido */
  box-sizing: border-box;
}

header {
  border: 5px solid steelblue;
  padding: 25px;
  margin: 20px;
  width: 300px;
}

p {
  line-height: 20px;
}