* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  border: 2px solid red;
}

.contenedor {
  height: 800px;
  background-color: aqua;
  display: flex;
  /* gap: 20px; */
  /* horizontal, main axis */
  /* justify-content: space-evenly; */
  justify-content: space-between;
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* vertical, cross axis */
  align-items: center;
  flex-direction: row;

  /* wrap */
  flex-wrap: nowrap;
}

.caja {
  background-color: yellow;
  height: 120px;
  width: 120px;
}

.caja1 {
    flex-grow: 1;
}

.caja2 {
    flex-shrink: 2;
}

.caja4 {
    flex-shrink: 4;
}

.caja5 {
  /* este elemento se va alinear de forma individuaL */
  align-self: flex-end;
}