* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* temporal */
    border:2px solid red;
}

.contenedor {
    height: 800px;
    background-color: aqua;
}

.caja {
    background-color: yellow;
    height: 120px;
    width:120px;
}